.buttonIcon {
  background: #5777af;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.25rem;
  height: 40px;
  line-height: 30px;
  padding: 5px 10px;
  transition: background .3s;
}
.buttonIcon:hover,
.buttonIcon:focus {
  background: #BA4EBA;
  color: #fff;
  text-decoration: none;
}
.buttonIcon .desktop-only {
  display: none;
}
@media screen and (min-width: 640px) {
  .buttonIcon .desktop-only {
    display: inline-block;
  }
}
