.ContactForm {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.ContactForm .inner {
  flex: 100%;
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 850px;
}
.ContactForm h2 {
  margin-bottom: 30px;
  text-align: center;
}
.ContactForm fieldset {
  border: 0;
}
.ContactForm legend {
  left: -9999px;
  position: absolute;
}
.ContactForm .formRow {
  display: block;
  width: 100%;
}
.ContactForm .formRow:after {
  content: "";
  clear: both;
  display: block;
}
.ContactForm .labelCol {
  width: 100%;
}
.ContactForm .inputCol {
  width: 100%;
}
.ContactForm label {
  line-height: 32px;
  margin-bottom: 20px;
  width: 100%;
}
.ContactForm input[type="text"],
.ContactForm textarea {
  border: 1px solid #BA4EBA;
  color: #6a7071;
  font-size: 1rem;
  font-weight: 300;
  height: 32px;
  line-height: 32px;
  margin-bottom: 20px;
  padding: 5px 10px;
  width: 100%;
}
.ContactForm textarea {
  height: 100px;
}
.ContactForm input[type="file"] {
  font-size: 1rem;
  margin-top: 5px;
}
.ContactForm .buttonRow {
  text-align: right;
}
.ContactForm .buttonReset,
.ContactForm .buttonSubmit {
  background: #5777af;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.25rem;
  height: 40px;
  line-height: 30px;
  padding: 5px 10px;
  transition: background .3s;
}
.ContactForm .buttonSubmit:hover,
.ContactForm .buttonSubmit:focus {
  background: #BA4EBA;
  color: #fff;
  text-decoration: none;
}
.ContactForm .buttonReset {
  background: #BA4EBA;
  margin-right: 20px;
}
.ContactForm .buttonReset:hover,
.ContactForm .buttonReset:focus {
  background: #5777af;
}
.ContactForm {}
@media screen and (min-width: 641px) {
  .ContactForm .labelCol {
    float: left;
    padding-right: 10px;
    text-align: right;
    width: 35%;
  }
  .ContactForm .inputCol {
    float: left;
    padding-left: 10px;
    width: 65%;
  }
}
