.FAQs {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.FAQs .inner {
  flex: 100%;
  padding: 40px;
}
.FAQs .Accordion-item {
  margin: 0 auto;
  max-width: 850px;
  width: 100%;
}
