.button {
  background: #5777af;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.25rem;
  height: 40px;
  line-height: 30px;
  padding: 5px 10px;
  transition: background .3s;
}
.button:hover,
.button:focus {
  background: #BA4EBA;
  color: #fff;
  text-decoration: none;
}
.button .desktop-only {
  display: none;
}
@media screen and (min-width: px) {
  .button .desktop-only {
    display: inline-block;
  }
}
