.Masthead {
  background: #F6FBFE;
  top: 0;
  position: fixed;
  transition: top 1s .5s;
  width: 100%;
  z-index: 11;
}
.Masthead.is-hidden {
	top: -100%;
}
.Masthead-inner {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}
.Masthead-inner:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}
.Masthead .App-logo {
  float: left;
  transition: width .5s;
  width: 125px;
}
.Masthead .buttonIcon,
.Masthead .burger-menu {
  float: right;
}
@media screen and (min-width: 641px) {
  .Masthead .App-logo {
    width: 175px;
  }
}
